/* Apply Rubik Dirt font to h1 */
h1 {
  text-align: center; /* Horizontally centers the text */
  margin-top: 200px; /* Moves the heading down */
  color: #333; /* Optional: changes the color */
  font-family: "Rubik Dirt", serif; /* Apply the font to the heading */
  font-weight: 400; /* Regular weight */
  font-style: normal; /* Normal style */
  font-size: 60px;
}

label {
  display: block; /* Makes the label take up the full width */
  text-align: center; /* Centers the text horizontally */
  margin: 0px 0; /* Adds vertical spacing */
  font-weight: bold; /* Makes the text bold */
  font-family: "Lexend Tera", sans-serif; /* Optional: changes the font */
}

form {
  display: flex;
  flex-direction: column; /* Stacks all form elements vertically */
  align-items: center; /* Centers elements horizontally */
  gap: 5px; /* Adds space between elements */
  margin-top: 20px;
}

input[type="text"],
select {
  margin: 10px 0; /* Adds vertical space between elements */
  padding: 5px; /* Adds space inside the textbox */
  width: 300px; /* Adjusts the width of the textbox */
  font-family: "Lexend Tera";
}

body {
  background-color: rgba(184, 219, 245, 0.844); /* Background color */
}

p {
  text-align: center; /* Horizontally centers the text */
  margin-top: 50px; /* Moves the heading down */
  color: #333; /* Optional: changes the color */
  font-size: 60px;
  font-family: "Lexend Tera", sans-serif; /* Optional: changes the font */
}
.paraPerc {
  text-align: center; /* Horizontally centers the text */
  margin-top: 50px; /* Moves the heading down */
  color: #333; /* Optional: changes the color */
  font-size: 50px;
  font-family: "Lexend Tera", sans-serif; /* Optional: changes the font */
}
.paraCL {
  text-align: center; /* Horizontally centers the text */
  margin-top: 20px; /* Moves the heading down */
  color: #333; /* Optional: changes the color */
  font-size: 20px;
  font-family: "Lexend Tera", sans-serif; /* Optional: changes the font */
}

button {
  width: 100px; /* Optional: Set consistent width */
  padding: 5px; /* Adds some space inside the elements */
}
ul {
  text-align: center; /* Horizontally centers the text */
  margin-top: 50px; /* Moves the heading down */
  color: #333; /* Optional: changes the color */
  /* list-style-type: none; */
  list-style-position: inside;
  font-family: "Lexend Tera", sans-serif; /* Optional: changes the font */
}
li {
  text-align: center; /* Horizontally centers the text */
}
