body {
  background: rgba(232, 229, 204, 0.844);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background 1s ease-in-out;
  font-family: "Lexend Tera", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 90px auto 10px;
  color: #333;
  font-family: "Rubik Dirt", serif;
  font-size: 60px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
}

label {
  font-weight: bold;
  text-align: center;
}

input,
select {
  padding: 10px;
  width: 300px;
  font-family: "Lexend Tera", sans-serif;
  border: 1px solid #ccc;
  background: transparent;
  appearance: none;
}

input:focus,
select:focus {
  outline: none;
  border-color: #007bff;
}

select option {
  padding: 10px;
}

button {
  width: 100px;
  padding: 8px;
  cursor: pointer;
  background-color: #37a662;
  color: white;
  font-family: "Lexend Tera", sans-serif;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 10px;
}

.imageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  gap: 20px;
}

.imageIdPer,
.imageIdCL {
  max-width: 300px;
  height: auto;
}

.imageIdCL {
  max-width: 500px;
  margin: 10px auto;
}

.perImageContainer {
  position: relative;
}

.paraPerc {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  font-family: "Lexend Tera", sans-serif;
  text-align: center;
  color: white;
}

.checklistContainer {
  position: relative;
  display: inline-block;
  width: fit-content;
  max-width: 500px;
  height: auto;
  overflow: hidden;
  margin: 10px auto;
}

.checklist {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Lexend Tera", sans-serif;
  width: 60%;
  max-height: 70%;
  overflow-y: auto;
}

li {
  margin-bottom: 10px;
  word-wrap: break-word;
  max-width: 100%;
}

.fireImageContainer {
  margin-top: 50px;
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fye1,
.fye2,
.fye3,
.fye4,
.fye5,
.fye6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 0;
}

.fye1 {
  animation: fireCycle 0.3s infinite;
}

.fye2 {
  animation: fireCycle 0.3s infinite 0.05s;
}

.fye3 {
  animation: fireCycle 0.3s infinite 0.1s;
}

.fye4 {
  animation: fireCycle 0.3s infinite 0.15s;
}

.fye5 {
  animation: fireCycle 0.3s infinite 0.2s;
}

.fye6 {
  animation: fireCycle 0.3s infinite 0.25s;
}

@keyframes fireCycle {
  0%,
  16.66% {
    visibility: visible;
    z-index: 1;
  }
  16.67%,
  50% {
    visibility: hidden;
    z-index: 0;
  }
  50.01%,
  83.33% {
    visibility: hidden;
    z-index: 0;
  }
  83.34%,
  100% {
    visibility: visible;
    z-index: 1;
  }
}

#firstState {
  display: block;
}

#secondState {
  display: none;
}
