<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend+Tera&family=Rubik+Dirt&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>WILDFIRE RISKS</h1>
    <form id="dataForm">
      <label for="textInput">City:</label>
      <input type="text" id="textInput" name="city" required />

      <label for="dropdown">Vegetation:</label>
      <select id="dropdown" name="dropdown" required>
        <option value="coniferous">Forest (Coniferous)</option>
        <option value="deciduous">Forest (Deciduous)</option>
        <option value="shrubland">Shrubland (Chaparral)</option>
        <option value="grasslands">Grasslands</option>
        <option value="savanna">Savanna</option>
        <option value="wetland">Wetland Vegetation</option>
        <option value="agricultural">Agricultural Land</option>
        <option value="urban">Urban Landscaping</option>
        <option value="barren">Barren Land (No Vegetation)</option>
        <option value="mixed">Mixed Vegetation</option>
      </select>

      <button type="submit" id="submitButton">Submit</button>
    </form>

    <form id="changeBkg" style="display: none">
      <p class="paraPerc" id="percentage"></p>

      <p class="paraCL">Checklist</p>
      <ul></ul>
    </form>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
